 #f1
{ 
	width:350px;
	border:1px solid white;
	margin-right:35%;
	margin-top:0.2%;
	display:inline;
	float:right;
	background-color:white;
	
	
}
#img
{
	border:1px solid red;
	display:inline;
	float:left;
	margin-left:10%;
	border-radius:12px 100px;
}
